.header{
	background-color: rgb(163,255,70);
	background-image: url("../images/logo-ATC.png");
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	text-align: center;
	height: 150px;

}
.header li {
 list-style-type: none;
 display: inline-block;
 }

 .header ul {
 text-align: center;
 border-color: rgb(223,102,47);
 }
section{
	margin-top: 10px;
	margin-right: 310px;
	background-color: rgb(242,242,242);
	border: 1px solid #d4d4d4;
	border-radius: 5px;
}
.aside{
 	right:7px;
 	top:170px;
 	width: 300px;
 	bottom: 55px;
 	position: fixed;
 	background-color: rgb(242,242,242);
 	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
 }
#login_page {
	background-color: #0CF;
	height: 300px;
	width: 1440px;
	padding-top: 5px;
	padding-left: 10px;
}
#article_login{
	height: 75px;
	width: 200px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	margin-top: 100px;
	margin-left: 600px;
	padding-top: 10px;
	padding-left: 10px;
}
 footer{
    border: 1px solid #d4d4d4; 
    background-color: #6C0; 
    text-align: center; 
    padding: 10px; 
    font-size: 70%; 
    line-height: 14px;
    margin-top: 10px;
    border: 1px solid #d4d4d4;
	border-radius: 5px;
}

h1{
	color: rgb(223,102,47)
}

h2{
	color:rgb(255,255,255);
	text-align: center;
	background-color: rgb(223,102,47);
}

.TBHOUV {
	border: 1px solid #d4d4d4;
	
}
.TitreTB{
	color:rgb(255,255,255);
	text-align: center;
	background-color: rgb(223,102,47);
}
.CellGrise{
	background-color: rgb(125,125,125)	;
	text-align: center;

}
.TBHOUV td {
	
	width: 50px;
	
}
.rouge{
	color: red;
}
.bleu{
	color:blue;
}
table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 
 }
td,th { 
 border-width:1px;
 border-style:solid; 
 border-color:black;
 }

tr:nth-child(even) {background: #CCC;color:blue;}
tr:nth-child(odd) {background: #FFF;color: red;}


/*----------------------------Pour le Popup-------------------------------*/
.popup section{
	width: 245px;
}

.popup table{
	text-align: center;
	alignment-baseline: central;
	margin-left: 15%;
}
	
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 250px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup h3{
	text-align: center;
	color: #F60;
	font-size: 20px;
	}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
#popup1{
	visibility: visible;
 	opacity: 1;
}
.POPUPFORM{
	background:#F00;}